
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width:20vw;
  height:100vh;
  position: fixed;
  z-index:2;
  background-color:rgb(249, 149, 0);
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4,1fr);
  left: 80;
}

header#rightmenu{
  width: 20vw;
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: repeat(4,1fr);
  left: 80vw;
}

.headerVisible{
  left:80;
  transition: 0.3s ease-in-out
}

.menuitem{
  width:100%;
  height:100%;
  font-size:2rem;
  display:grid;
  place-items:center;
  border-right:1px solid black;
  cursor:pointer;
  transition: 0.3s all ease-in-out;
}

.menuitem:hover{
  border-left: 6px solid black;
  font-size:2.4rem;
}

.menuitem.active{
  border-left:6px solid red;
}



.page{
  position:fixed;
  left:-100vw;
  width:100vw;
  height:100vh;
  top:0vh; 
  overflow:hidden;
  display:grid;
  place-items:center;
  transition: 0.2s 0.2s ease-in-out;
}

.visible{
  left:0;
  transition: 0.3s ease-in-out
}

#page1{
  background-color: blueviolet;
}
#page2{
  background-color: darkgoldenrod;
}
#page3{
  background-color: rgb(0, 203, 75);
}
#page4{
  background-color: rgb(0, 60, 255);
}

h1{
  font-family: Raleway;
  color: hotpink
}