
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width:20vw;
  height:50vh;
  position: fixed;
  z-index:2;
  background-color:rgb(249, 149, 0);
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5,1fr);
  left: 80vw;
  border-radius: 2%;
  transition: 0.3s ease-in-out
}

.headerHidden{
  left: 100vw;
}


#menuButton{ 
  position:fixed;
  top:1rem;
  right:22vw;
  width:10vw;
  height:10vw;
  z-index:3;
  border-radius: 50%;
  background-color:rgb(249, 149, 0);
  display:grid;
  place-items: center;
  color:rgb(255, 255, 255);
  font-size:3rem;
  cursor: pointer;

  background-image: url(./Images/BTTF3.PNG);
  background-size: cover;
  background-position: center center;

  transition: 0.3s ease-in-out
}

#menuButton.menuHidden{
  right: 1rem;
}

.menuitem{
  width:100%;
  height:100%;
  font-size:2rem;
  display:grid;
  place-items:center;
  border-right:1px solid rgb(0, 0, 0);
  cursor:pointer;
  color:white;
  transition: 0.3s all ease-in-out;
}

#menu1{
  background-image: url(./Images/BTTF4.PNG);
  background-size: cover;
  background-position: center center;
}

#menu2{
  background-image: url(./Images/BTTFPart1Image1.PNG);
  background-size: cover;
  background-position: center center;
}

#menu3{
  background-image: url(./Images/BTTFPart2Image1.PNG);
  background-size: cover;
  background-position: center center;
}

#menu4{
  background-image: url(./Images/BTTFPart3Image1.PNG);
  background-size: cover;
  background-position: center center;
}

#menu5{
  background-image: url(./Images/BTTFKlipImage1.PNG);
  background-size: cover;
  background-position: center center;
}

.menuitem:hover{
  border-left: 6px solid black;
  font-size:2.4rem;
}

.menuitem.active{
  border-left:6px solid rgb(255, 0, 0);
}



.page{
  position:fixed;
  left:-100vw;
  width:100vw;
  height:100vh;
  overflow:hidden;
  display:grid;
  place-items:center;
  transition: 0.2s 0.2s ease-in-out;
}

.visible{
  left:0;
  transition: 0.3s ease-in-out
}


#page1{
  background-color: blueviolet;
  background-image: url(./Images/BTTF1.jpg);
  background-size: cover;
  background-position: center center;
}
#page2{
  background-color: darkgoldenrod;
  grid-template-columns: 1fr 1fr 1fr;
}
#page2 div.posterBox{
  position: relative;
  width: 80%;
  height: 80%;
  display:grid;
  place-items: center;
  border: 1px solid white;
  background-image: url(./Images/BTTFPoster1.jpg);
  background-size: cover;
  background-position: center center;
}
.infoBox{
  position: relative;
  width: 80%;
  height: 80%;
  display:grid;
  place-items: center;
  border: 1px solid white;
}
#textBox{
  color:white;
  width: 90%;
  height: 60%;
  font-size: 20px;
  border: 1px solid white;
}

#page3{
  background-color: rgb(0, 203, 75);
  grid-template-columns: 1fr 1fr 1fr;
}
#page3 div.posterBox{
  position: relative;
  width: 80%;
  height: 80%;
  display:grid;
  place-items: center;
  border: 1px solid white;
  background-image: url(./Images/BTTFPoster2.jpg);
  background-size: cover;
  background-position: center center;
}
#page4{
  background-color: rgb(0, 60, 255);
  grid-template-columns: 1fr 1fr 1fr;
}
#page4 div.posterBox{
  position: relative;
  width: 80%;
  height: 80%;
  display:grid;
  place-items: center;
  border: 1px solid white;
  background-image: url(./Images/BTTFPoster3.jpg);
  background-size: cover;
  background-position: center center;
}

#page5{
  background-color: orchid;
}

h1{
  font-family: Raleway;
  color: rgb(0, 0, 0)
}

h2{
  font-family: Raleway;
  color: rgb(0, 0, 0)
}
