html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
#gameOver {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: black;
  text-align: center;
  opacity: 0;
}
#points {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: black;
}
